[Unit]
Description=Mosquitto client reading UART for Linky and publishing selected items to a local MQTT broker
After=network.target
AssertPathExists=/sys/class/net/eth0

[Service]
Type=simple
ExecStart=/home/yunohost.app/teleinfo2mqtt/.python.venv/bin/python3 /home/yunohost.app/teleinfo2mqtt/teleinfo2mqtt.py
Restart=always

[Install]
WantedBy=mosquitto.service
